# General
.DS_Store
*.log
*.env

# Node dependencies
node_modules/

frontend/node_modules/


# Backend
backend/node_modules/
backend/.env
backend/credentials.json

# IDE and Editor folders
.vscode/
.idea/